In [413]:
import numpy as np
import pandas as pd

In [414]:
DATASET_PATH = './housing.csv'
PREPARED_DATASET_PATH = './housing_prepared.csv'

In [415]:
df = pd.read_csv(DATASET_PATH, sep=',')
df.head(4)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,1
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,2
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,3

In [416]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  19918 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20041 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
 10  id                  20640 non-null  int64
dtypes: float64(9), int64(1), object(1)
memory usage: 1.7+ MB

In [417]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,id
count,20640.000000,20640.000000,19918.000000,20640.000000,20433.000000,20041.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.471242,35.036934,28.653630,2635.763081,537.870553,1425.418243,499.539680,3.870671,206855.816909,10319.500000
std,5.041408,94.903955,12.576796,2181.615252,421.385070,1135.185798,382.329753,1.899822,115395.615874,5958.399114
min,-124.350000,-13534.030000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000,0.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,786.000000,280.000000,2.563400,119600.000000,5159.750000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1165.000000,409.000000,3.534800,179700.000000,10319.500000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1726.000000,605.000000,4.743250,264725.000000,15479.250000
max,122.030000,1327.130000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000,20639.000000

In [418]:
# Обработка пропусков

df['housing_median_age_nan'] = 0
df.loc[df['housing_median_age'].isna(), 'housing_median_age_nan'] = 1
median = df['housing_median_age'].median()
df['housing_median_age'] = df['housing_median_age'].fillna(median)

In [419]:
median_bedrooms = df['total_bedrooms'].median()
median_population = df['population'].median()
population_per_bedroom = median_population / median_bedrooms
population_per_bedroom

2.67816091954023

In [420]:
df['total_bedrooms_nan'] = 0
df.loc[df['total_bedrooms'].isna(), 'total_bedrooms_nan'] = 1
df.loc[(pd.isnull(df['total_bedrooms'])), 'total_bedrooms'] = df['population'] * population_per_bedroom

In [421]:
df.loc[df['total_bedrooms_nan'] == 1]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id,housing_median_age_nan,total_bedrooms_nan
290,-122.16,37.77,47.0,1256.0,1526.551724,570.0,218.0,4.3750,161900.0,NEAR BAY,290,0,1
341,-122.17,37.75,38.0,992.0,1960.413793,732.0,259.0,1.6196,85100.0,NEAR BAY,341,0,1
538,-122.28,37.78,29.0,5154.0,10019.000000,3741.0,1273.0,2.5762,173400.0,NEAR BAY,538,0,1
563,-122.24,37.75,45.0,891.0,1028.413793,384.0,146.0,4.9489,247100.0,NEAR BAY,563,0,1
696,-122.10,37.69,41.0,746.0,1036.448276,387.0,161.0,3.9063,178400.0,NEAR BAY,696,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,29.0,3620.0,NaN,NaN,779.0,3.3409,220500.0,NEAR OCEAN,20267,1,1
20268,-119.18,34.19,19.0,2393.0,5190.275862,1938.0,762.0,1.6953,167400.0,NEAR OCEAN,20268,0,1
20372,-118.88,34.17,15.0,4260.0,4555.551724,1701.0,669.0,5.1033,410700.0,<1H OCEAN,20372,0,1
20460,-118.75,34.29,17.0,5512.0,7322.091954,2734.0,814.0,6.6073,258100.0,<1H OCEAN,20460,0,1
20484,-118.72,34.28,17.0,3051.0,NaN,NaN,495.0,5.7376,218600.0,<1H OCEAN,20484,0,1

In [422]:
df['population_nan'] = 0
df.loc[df['population'].isna(), 'population_nan'] = 1
df.loc[(pd.isnull(df['population'])), 'population'] = df['total_bedrooms'] / population_per_bedroom

In [423]:
df.loc[df['total_bedrooms_nan'] == 1]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id,housing_median_age_nan,total_bedrooms_nan,population_nan
290,-122.16,37.77,47.0,1256.0,1526.551724,570.0,218.0,4.3750,161900.0,NEAR BAY,290,0,1,0
341,-122.17,37.75,38.0,992.0,1960.413793,732.0,259.0,1.6196,85100.0,NEAR BAY,341,0,1,0
538,-122.28,37.78,29.0,5154.0,10019.000000,3741.0,1273.0,2.5762,173400.0,NEAR BAY,538,0,1,0
563,-122.24,37.75,45.0,891.0,1028.413793,384.0,146.0,4.9489,247100.0,NEAR BAY,563,0,1,0
696,-122.10,37.69,41.0,746.0,1036.448276,387.0,161.0,3.9063,178400.0,NEAR BAY,696,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,29.0,3620.0,NaN,NaN,779.0,3.3409,220500.0,NEAR OCEAN,20267,1,1,1
20268,-119.18,34.19,19.0,2393.0,5190.275862,1938.0,762.0,1.6953,167400.0,NEAR OCEAN,20268,0,1,0
20372,-118.88,34.17,15.0,4260.0,4555.551724,1701.0,669.0,5.1033,410700.0,<1H OCEAN,20372,0,1,0
20460,-118.75,34.29,17.0,5512.0,7322.091954,2734.0,814.0,6.6073,258100.0,<1H OCEAN,20460,0,1,0
20484,-118.72,34.28,17.0,3051.0,NaN,NaN,495.0,5.7376,218600.0,<1H OCEAN,20484,0,1,1

In [424]:
median = df['total_bedrooms'].median()
df['total_bedrooms'].fillna(median, inplace=True)

median = df['population'].median()
df['population'].fillna(median, inplace=True)

In [425]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,id,housing_median_age_nan,total_bedrooms_nan,population_nan
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.471242,35.036934,28.665746,2635.763081,570.322020,1390.219361,499.539680,3.870671,206855.816909,10319.500000,0.034981,0.010029,0.029021
std,5.041408,94.903955,12.355019,2181.615252,590.615452,1137.409183,382.329753,1.899822,115395.615874,5958.399114,0.183735,0.099644,0.167870
min,-124.350000,-13534.030000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000,0.000000,0.000000,0.000000,0.000000
25%,-121.800000,33.930000,19.000000,1447.750000,297.000000,754.000000,280.000000,2.563400,119600.000000,5159.750000,0.000000,0.000000,0.000000
50%,-118.490000,34.260000,29.000000,2127.000000,438.000000,1143.000000,409.000000,3.534800,179700.000000,10319.500000,0.000000,0.000000,0.000000
75%,-118.010000,37.710000,37.000000,3148.000000,656.000000,1701.000000,605.000000,4.743250,264725.000000,15479.250000,0.000000,0.000000,0.000000
max,122.030000,1327.130000,52.000000,39320.000000,14962.885057,35682.000000,6082.000000,15.000100,500001.000000,20639.000000,1.000000,1.000000,1.000000

In [426]:
df['ocean_proximity_nan'] = 0
df.loc[df['ocean_proximity'] == '-', 'ocean_proximity_nan'] = 1

In [427]:
# Обработка выбросов

df['longitude_outlier'] = 0
df.loc[df['longitude'] >= 0, 'longitude_outlier'] = 1
df.loc[df['longitude'] > 0, 'longitude'] = df.loc[df['longitude'] > 0, 'longitude'] * -1
df.loc[df['longitude'] == 0, 'longitude'] = df['longitude'].median()

In [428]:
df['latitude_outlier'] = 0
df.loc[(df['latitude'] <= 0) | (df['latitude'] > 50), 'latitude_outlier'] = 1
df.loc[(df['latitude'] <= 0) | (df['latitude'] > 50), 'latitude'] = df['latitude'].median()

In [429]:
total_rooms_max_value = np.quantile(df['total_rooms'], q=0.975)
total_rooms_min_value = np.quantile(df['total_rooms'], q=0.025)
condition = (df['total_rooms'] > total_rooms_max_value) | (df['total_rooms'] < total_rooms_min_value)
df.loc[condition, 'total_rooms'] = df['total_rooms'].median()

In [430]:
total_bedrooms_max_value = np.quantile(df['total_bedrooms'], q=0.975)
total_bedrooms_min_value = np.quantile(df['total_bedrooms'], q=0.025)
condition = (df['total_bedrooms'] > total_bedrooms_max_value) | (df['total_bedrooms'] < total_bedrooms_min_value)
df.loc[condition, 'total_bedrooms'] = df['total_bedrooms'].median()

In [431]:
# Выкидываем не валидне данные

# Все дома со стоимостью выше 500к скопляются в одну точку. Это не верные данные.
df = df[df['median_house_value'] < 500000]

In [432]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,id,housing_median_age_nan,total_bedrooms_nan,population_nan,ocean_proximity_nan,longitude_outlier,latitude_outlier
count,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000
mean,-119.561962,35.651674,28.407370,2422.008143,512.059601,1405.489993,501.192488,3.676411,192055.328583,10282.022649,0.034507,0.010179,0.029214,0.001171,0.000458,0.000102
std,2.005678,2.149966,12.275588,1355.380441,297.083653,1149.110305,383.391367,1.570602,97110.854998,5988.189673,0.182533,0.100380,0.168411,0.034195,0.021398,0.010089
min,-124.350000,32.540000,1.000000,371.000000,84.000000,3.000000,2.000000,0.499900,14999.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-121.760000,33.930000,18.000000,1499.000000,312.000000,764.000000,282.000000,2.526300,116475.000000,5035.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,-118.500000,34.270000,29.000000,2127.000000,438.000000,1155.000000,411.000000,3.449050,173600.000000,10318.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,-117.990000,37.730000,36.000000,2986.000000,627.000000,1722.000000,606.000000,4.582500,247900.000000,15382.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,-114.310000,41.950000,52.000000,8069.000000,1827.000000,35682.000000,6082.000000,15.000100,499100.000000,20639.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [433]:
# Отбор признаков

df['population_per_room'] = df['population'] / df['total_rooms']
df = pd.concat([df, pd.get_dummies(df['ocean_proximity'])], axis=1)
df.drop(columns=['id', '-', 'ocean_proximity', 'ocean_proximity_nan', 'population_nan', 'total_bedrooms_nan'], inplace=True)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,housing_median_age_nan,longitude_outlier,latitude_outlier,population_per_room,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,0.365909,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,0.338217,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,0.338105,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,0.437991,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,0.347265,0,0,0,1,0

In [434]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,housing_median_age_nan,longitude_outlier,latitude_outlier,population_per_room,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
count,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000,19648.000000
mean,-119.561962,35.651674,28.407370,2422.008143,512.059601,1405.489993,501.192488,3.676411,192055.328583,0.034507,0.000458,0.000102,0.618237,0.436991,0.331535,0.000254,0.106169,0.123880
std,2.005678,2.149966,12.275588,1355.380441,297.083653,1149.110305,383.391367,1.570602,97110.854998,0.182533,0.021398,0.010089,0.482748,0.496027,0.470777,0.015951,0.308061,0.329453
min,-124.350000,32.540000,1.000000,371.000000,84.000000,3.000000,2.000000,0.499900,14999.000000,0.000000,0.000000,0.000000,0.001410,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-121.760000,33.930000,18.000000,1499.000000,312.000000,764.000000,282.000000,2.526300,116475.000000,0.000000,0.000000,0.000000,0.434719,0.000000,0.000000,0.000000,0.000000,0.000000
50%,-118.500000,34.270000,29.000000,2127.000000,438.000000,1155.000000,411.000000,3.449050,173600.000000,0.000000,0.000000,0.000000,0.518900,0.000000,0.000000,0.000000,0.000000,0.000000
75%,-117.990000,37.730000,36.000000,2986.000000,627.000000,1722.000000,606.000000,4.582500,247900.000000,0.000000,0.000000,0.000000,0.670157,1.000000,1.000000,0.000000,0.000000,0.000000
max,-114.310000,41.950000,52.000000,8069.000000,1827.000000,35682.000000,6082.000000,15.000100,499100.000000,1.000000,1.000000,1.000000,16.775740,1.000000,1.000000,1.000000,1.000000,1.000000

In [435]:
df[df['population_per_room'] > 5]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,housing_median_age_nan,longitude_outlier,latitude_outlier,population_per_room,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
922,-121.92,37.53,7.0,2127.0,438.0,12203.0,3701.0,8.4045,451100.0,0,0,0,5.737189,1,0,0,0,0
6057,-117.78,34.03,8.0,2127.0,438.0,15507.0,5050.0,6.0191,253900.0,0,0,0,7.290550,1,0,0,0,0
6066,-117.87,34.04,7.0,2127.0,438.0,15037.0,4072.0,6.6288,339700.0,0,0,0,7.069582,1,0,0,0,0
6338,-117.88,33.96,16.0,2127.0,438.0,10988.0,3061.0,5.5469,265200.0,0,0,0,5.165961,1,0,0,0,0
9019,-118.78,34.16,9.0,2127.0,438.0,12873.0,3931.0,8.0137,399200.0,0,0,0,6.052186,0,0,0,0,1
9122,-118.10,34.57,7.0,2127.0,438.0,11973.0,3933.0,3.3086,138100.0,0,0,0,5.629055,0,1,0,0,0
9172,-118.59,34.47,5.0,538.0,98.0,8733.0,105.0,4.2391,154600.0,0,0,0,16.232342,0,1,0,0,0
9697,-121.61,36.69,19.0,2127.0,438.0,11272.0,2528.0,2.0244,118500.0,0,0,0,5.299483,1,0,0,0,0
9744,-121.68,36.72,29.0,2127.0,438.0,12153.0,4372.0,3.2652,152800.0,1,0,0,5.713681,1,0,0,0,0
9880,-121.79,36.64,11.0,2127.0,438.0,28566.0,6082.0,2.3087,118800.0,0,0,0,13.430183,1,0,0,0,0
10309,-117.74,33.89,4.0,2127.0,438.0,16122.0,5189.0,7.4947,366300.0,0,0,0,7.579690,1,0,0,0,0
12215,-117.12,33.52,4.0,2127.0,438.0,13251.0,4339.0,4.5841,212300.0,0,0,0,6.229901,1,0,0,0,0
12623,-121.53,38.48,5.0,2127.0,438.0,11935.0,4855.0,4.8811,212200.0,0,0,0,5.611189,0,1,0,0,0
13139,-121.44,38.43,29.0,2127.0,438.0,16305.0,5358.0,4.9516,153700.0,1,0,0,7.665726,0,1,0,0,0
13366,-117.63,33.94,36.0,447.0,95.0,2886.0,85.0,4.2578,183300.0,0,0,0,6.456376,0,1,0,0,0
13890,-116.14,34.45,12.0,2127.0,1721.0,11139.0,1680.0,2.2612,137500.0,0,0,0,5.236953,0,1,0,0,0
15360,-117.42,33.35,14.0,2127.0,438.0,35682.0,4769.0,2.5729,134400.0,0,0,0,16.775740,1,0,0,0,0
15459,-117.27,33.15,4.0,2127.0,438.0,10877.0,3958.0,4.6357,244900.0,0,0,0,5.113775,0,0,0,0,1
16643,-120.65,35.32,20.0,626.0,212.0,3574.0,261.0,1.0298,300000.0,0,0,0,5.709265,0,0,0,0,1
17413,-120.59,34.70,29.0,2127.0,438.0,12427.0,2826.0,2.7377,28300.0,0,0,0,5.842501,0,0,0,0,1
20451,-118.90,34.26,5.0,2127.0,438.0,11956.0,3478.0,6.9712,321300.0,0,0,0,5.621063,1,0,0,0,0

In [436]:
df.to_csv(PREPARED_DATASET_PATH, index=False, encoding='utf-8', sep=';')